body
{
    padding: 0px;
    margin:0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:14px;
    background-attachment: scroll;
    background-size:contain;
    background-color: white;
}

#container
{
    margin-bottom:0px;
    margin-top: 0px;
    min-width: 400px;
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(240,240,240,1);*/
    background-color: white;
}


/*animate css3 function*/
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes dropHeader2 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome
{
    min-width: 400px;
    max-width: 1200px;
    max-height: 150px;
    min-height: 50px;
    margin-top:50px;
    position: relative;
}


.logo
{
    min-width: 400px;
    max-width: 100%;
    height: auto;
    background-color: white;/* rgba(152, 255, 182, 1);*/
}
.logo img
{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.tittle
{
    width:580px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    float: left;
    position: absolute;
    border: 1px solid #ededed;
    float: left;
    left: 0px;
    top: 27%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
    color:black;
    /*animate onload*/
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.3s;
}



.user
{
    width:417px;
    height: 40px;
    line-height: 33px;
    text-align: center;
    font-size: 24px;
    float: left;
    position: absolute;
    border: 1px solid #ededed;
    border-radius: 10px;
    right: 0px;
    bottom: 35%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
    color:black;
    /*animate onload*/
    animation-name: dropHeader2;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.3s;
}

.tittleStatic
{
    width:580px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    float: left;
    position: absolute;
    border: 1px solid #ededed;
    float: left;
    left: 0px;
    top: 27%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
    color:black;
}



.userStatic
{
    width:417px;
    height: 40px;
    line-height: 33px;
    text-align: center;
    font-size: 24px;
    float: left;
    position: absolute;
    border: 1px solid #ededed;
    right: 0px;
    bottom: 35%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
    color:black;
}

ul.view
{
    margin:0;
    padding:0;
    background-color: white;
    display: block;
    float: none;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-size: 11px;
    list-style: none;
    min-width: 400px;
    max-width: 1200px;
    height: 100%;
    color:black;
    text-align: left;
    z-index: 999;
}

ul.view li ul li
{
    position: relative;
    z-index: 998;
    margin:auto;
    display:table-cell;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-size:12px;
    list-style: none;
    width: 158px;
}
ul.view li ul li:hover
{
    z-index: 999;
}

ul.view li ul
{
    border-radius: 10px;
    display: table;
    position: relative;
    min-height: 100px;
    height: auto;
    width: 100%;
    background-color: #e9e9e9;
}
ul.view li ul li > a
{
    display: block;
    width: 100%;
    height: 100%;
}

/*#menu*/
/*{*/
/*float:left;*/
/*text-align: left;*/
/*width: 1200px;*/
/*height: 60px;*/
/*background:url(/images/menuBar.jpg);*/
/*background-color: rgba(152, 255, 182, 1);*/
/*}*/

#wydzial
{
    font-size: 20px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 10px;
}

#nazwa
{
    margin-top: 6px;
    font-size: 24px;
    text-decoration-style: solid;
    padding-left:10px;
    background-color: white;/*rgba(20, 20, 20, 1);*/
    color:black;
}

ul
{
    list-style: none;
}

ul li ul li.greenDiode1
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color: #00e320;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode1:hover
{
    cursor: pointer;
    background-color: #00ff29;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}


ul li ul li.greenDiode2
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color: #00b91d;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode2:hover
{
    cursor: pointer;
    background-color: #00f628;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li ul li.greenDiode3
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color: #008a1c;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode3:hover
{
    cursor: pointer;
    background-color: #00d027;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}


ul li ul li.greenDiode4
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color: #00671b;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode4:hover
{
    cursor: pointer;
    background-color: #00ab26;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}



ul li ul li.redDiode
{
    cursor: pointer;
    margin:3px;
    top: 0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    line-break: auto;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color:#d10000;
    border-radius:3px;
    transition: 0.5s;
}

ul li ul li.redDiode:hover
{
    cursor: pointer;
    background-color:#ff3333;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li ul li.greyDiode
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    min-width: 25px;
    max-width:35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    line-break: auto;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    background-color:#666666;
    border-radius:3px;
    transition: 0.5s;
}

ul li ul li.greyDiode:hover
{
    cursor: pointer;
    background-color:#a6a6a6;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li#wydzial
{
    margin:0px;
    z-index:900;
}

#redDiode
{
    float:left;
    width:35px;
    height: 25px;
    background-color:#d10000;
    border-radius:3px;
}
#greenDiode
{
    float:left;
    width:35px;
    height: 25px;
    background-color:#00ad1d;
    border-radius:3px;
}
#greyDiode
{
    float:left;
    width:35px;
    height: 25px;
    background-color:#666666;
    border-radius:3px;
}

.sticky
{
    width:100%;
    position: fixed;
    left:0;
    right:0;
    z-index: 1000;
}
.nav-pills {
    display: flex;
    justify-content: center;
}


.summary
{
    color:black;font-size:20px;width:100%;padding: 8px;display: table;margin-right: auto;margin-left: auto;background-color: white;
}

.nav.nav-pills li a {
    color: black;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover{
    background-color: #e2e2e2;
}

#data
{
    color:black;font-size:15px;borderdisplay: inline;border-bottom: 1px solid #e0e0e0;padding-bottom: 7px;
}