body
{
    padding: 0px;
    margin:0px;
    font-size:14px;
    background-attachment: scroll;
    background-size:contain;
    background-color: white;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
}

#header{
    background-color: #2b2d2b;
    color:white;
}

#container
{  margin-bottom:0px;
    min-width: 200px;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
    /*background-color: rgba(240,240,240,1);*/
    background-color: white;
    margin-left: 54px;
    margin-right: 54px;
    margin-top: 60px;
}


/*animate css3 function*/
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes dropHeader2 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}



ul.view
{
    margin:0;
    padding:0;
    background-color: white;
    /*display: inline-block;*/
    float: none;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-size: 11px;
    list-style: none;
    min-width: 200px;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
    color:black;
    text-align: left;
    z-index: 999;
}

ul.view li ul li
{
    position: relative;
    z-index: 998;
    margin:auto;
    display:table-cell;
    /*text-shadow: 1px 1px 2px #000000;*/
    font-size:12px;
    list-style: none;
    width: 158px;
}
ul.view li ul li:hover
{
    z-index: 999;
}

#tittle{
    font-size: 17px;
    display: inline-block;
}

#content{
    padding: 10px;
    border: 1px solid #e0e0e0;
    list-style-type: none;
    height: 100%;
}

#devices{
    background-color: whitesmoke;
    display: table;
    position: relative;
    min-height: 100px;
    max-height: 100%;
    min-width: 200px;
    width: 100%;
}
#devices li{
    animation-iteration-count:1;

    -webkit-animation: fadein 2s normal forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s normal forwards; /* Firefox < 16 */
    -ms-animation: fadein 2s normal forwards; /* Internet Explorer */
    -o-animation: fadein 2s normal forwards; /* Opera < 12.1 */
    animation: fadein 2s normal forwards;
}

.icon-input-btn{
    display: inline-block;
    position: relative;
}
/*.icon-input-btn input[type="submit"]{*/
    /*padding-left: 2em;*/
/*}*/
.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul.view li ul li > a
{
    display: block;
    width: 100%;
    height: 100%;
}

/*#menu*/
/*{*/
/*float:left;*/
/*text-align: left;*/
/*width: 1200px;*/
/*height: 60px;*/
/*background:url(/images/menuBar.jpg);*/
/*background-color: rgba(152, 255, 182, 1);*/
/*}*/

#wydzial
{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 10px;
}

#nazwa
{
    margin-top: 6px;
    font-size: 24px;
    text-decoration-style: solid;
    padding-left:10px;
    background-color: white;/*rgba(20, 20, 20, 1);*/
    color:black;
}

ul
{
    list-style: none;
}

ul li ul li.greenDiode1
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    /*background-color: #00e320;*/
    background-color: #65dc14;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode1:hover
{
    cursor: pointer;
    background-color: #71ee14;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}


ul li ul li.greenDiode2
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    background-color: #4eb02f;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode2:hover
{
    cursor: pointer;
    background-color: #6ed237;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li ul li.greenDiode3
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    background-color: #00a625;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode3:hover
{
    cursor: pointer;
    background-color: #00cf18;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}


ul li ul li.greenDiode4
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    width:35px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    background-color: #007e1b;
    border-radius:3px;
    transition:  0.5s;

}
ul li ul li.greenDiode4:hover
{
    cursor: pointer;
    background-color: #009b1f;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}



ul li ul li.redDiode
{
    cursor: pointer;
    margin:3px;
    top: 0;
    left:0;
    width:35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    line-break: auto;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    background-color:#d10000;
    border-radius:3px;
    transition: 0.5s;
}

ul li ul li.redDiode:hover
{
    cursor: pointer;
    background-color:#ff3333;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li ul li.greyDiode
{
    cursor: pointer;
    margin:3px;
    top:0;
    left:0;
    width:35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    line-break: auto;
    float:left;
    color:rgba(1,1,1,1);
    text-decoration-style: solid;
    list-style-type: none;
    background-color:#666666;
    border-radius:3px;
    transition: 0.5s;
}

ul li ul li.greyDiode:hover
{
    cursor: pointer;
    background-color:#a6a6a6;
    transform: scale(1.7, 1.7);
    -moz-transform: scale(1.7, 1.7);
    -ms-transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -o-transform: scale(1.7, 1.7);
}

ul li#wydzial
{
    margin:0px;
    z-index:900;
}

#redDiode
{
    float:left;
    width:30px;
    height: 19px;
    background-color:#d10000;
    border-radius:3px;
}
#greenDiode
{
    float:left;
    width:30px;
    height: 19px;
    background-color:#00ad1d;
    border-radius:3px;
}
#greyDiode
{
    float:left;
    width:30px;
    height: 19px;
    background-color:#666666;
    border-radius:3px;
}

.sticky
{
    width:100%;
    position: fixed;
    left:0;
    right:0;
    z-index: 1000;
}




.filters{
    /*display: none;*/
    margin-top: 20px;
    width: 100%;
    height: 100%;
}


#progress_area {
    border: 4px solid black;
    border-radius: 50%;
    border-top: 4px solid #2df2be;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

