body
{
    padding: 0px;
    margin:0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:14px;
    background-attachment: scroll;
    background-size:contain;
    background-color: black;
    width: 100%;
    height: 100%;
    display: table;
}

#container
{
    /*background-color: rgba(240,240,240,1);*/
    /*height: 600px;*/
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#loginFields
{
    height: auto;
    width:228px;
    text-align: center;
    color:white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#error
{
    height: auto;
    width:228px;
    text-align: center;
    color:red;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#tittle
{
    height: auto;
    width:228px;
    text-align: center;
    color:white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
